<header>
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="logo col-4">
          <a href="/"><img src="images/logo.jpg" alt="Logo QDS"></a>
        </div>
        <div class="secciones col-4">
          <ul>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/admin">Administradores</a></li>
          </ul>
        </div>
        <div class="boton col-4">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Usuario
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/login">Iniciar Sesion</a></li>
              <li><a class="dropdown-item" href="/">Cerrar Sesion</a></li>
            </ul>
          </div>
        </div>
        <div class="buscador col-12">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Busca tus productos aquí" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>