*{
  box-sizing: border-box;
  margin: 0 auto;
}

body{
  min-height: 100vh;
  font-size: 15px;
  font-weight: 300;
}

header p{
  text-align: center;
  margin-top: 28px;
}

ul,li {
list-style: none;
margin: 0;
padding: 0;
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}



p, span{
  font-family: 'Roboto', sans-serif;
}

h1{
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
}

img{
  width: 100%;
}

.header .secciones{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .secciones ul li{
  padding: 10px;
  font-size: 40px;
}

.header .boton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .boton button{
  background-color: rgb(17, 190, 153);
  border-color: rgb(17, 190, 153);
  border-radius: 10px;
  color: black;
  font-size: 30px;
  width: 200px;
}

.header .boton ul li a{
  font-size: 25px;
}

.header .buscador {
  width: 90%;
}

.header .buscador form input{
  height: 5vh;
  font-size: 25px;
  color: black;
  padding: 40px;
}
.header .buscador form button{
  width: 30%;
  background-color: rgb(17, 190, 153);
  border-radius: 10px;
  font-size: 30px;
  color: black;
}